

<!-- <button id="show_season">Show per season</button> upcoming -->

<!-- <ul id="results"></ul> -->
<!-- <label for="months_input">Name (4 to 8 characters):</label> -->
<!-- <input type="text" id="months_input" name="months_input" required
       minlength="1" maxlength="15" size="15">
<button id="show_months">Filter by months</button> -->
<header>

</header>

<body class="layout">

  <section>
    <h1 id="header_title">Calendar of the fruits and vegetables in Belgium</h1>
    <ul class="share-widget">
      <li class="share-item ">Whatsapp_icons</li>
      <li class="share-item">Lkin_icons</li>
      <li class="share-item">Fb_icones</li>
    </ul>

  </section>

  <nav class="month-nav" id="test">
    <button class="month" value="Januari" type="submit"><span>Januari</span></button>
    <button class="month" value="Februari"type="submit" ><span>Februari</span></button>
    <button class="month" value="March"><span>March</span></button>
    <button class="month" value="April"><span>April</span></button>
    <button class="month" value="May"><span>May</span></button>
    <button class="month" value="June"><span>June</span></button>
    <button class="month" value="July"><span>July</span></button>
    <button class="month" value="August"><span>August</span></button>
    <button class="month" value="August"><span>September</span></button>
    <button class="month" value="October" ><span>October</span></button>
    <button class="month" value="November"><span>November</span></button>
    <button class="month" value="December"><span>December</span></button>
  </nav>
  <main class="calendar">
    <header> <h2 id="main_month_title">Januari== drop down</h2></header>
    <div class="nav">
        <button class=" btn btn-vegetables">Vegetables</button>  <button class=" btn btn-all">All </button> <button class="  btn btn-fruits">Fruits</button>
    </div>
    <article class="list-items list-legumes">
      <h3 class="nav" id="vegetables_title">Vegetables</h3>
      <ul class="calendar-month">
        <p id="results"></p>
        <!-- <li title="Ail" >
                Ail
            </li>
        <li title="Betterave">
                Betterave
            </li>
        <li title="Ail" >
              Ail
        </li>
        <li title="Betterave">
             Betterave
        </li> -->
      </ul>
    </article>
  </main>
</body>








<script>

 // feching the data
const results = document.querySelector("#results");

fetch("https://apiseason.herokuapp.com/api/v1/products")
.then(response => response.json())
  .then((data) => {
    data.products.forEach((result) => {
      const haverst = `
          <li class="${result.months_available} ${result.kind}" title="${result.name}">
             <p>${result.name} | ${result.kind} | ${result.months_available} </p>
          </li>`;

      results.insertAdjacentHTML("beforeend", haverst);

    });
  });



let buttons = document.querySelectorAll('.month');

for (let i = 0; i < buttons.length; i++) {
  buttons[i].onclick = function(event) {
    // console.log(event.target.value)
    let a = event.target.value
alert(a)
  }
}


</script>



<!-- https://www.farm.coop/calendrier-fruits-legumes-belges/ -->
<!-- https://www.greenpeace.fr/guetteur/calendrier/ -->
