<h2>List of all recipes per season</h2>




<ul id="results"></ul>



<script>

const results = document.querySelector("#results");

fetch("https://apiseason.herokuapp.com/api/v1/products")
.then(response => response.json())
  .then((data) => {
    data.products.forEach((result) => {
      const movie = `<li>
        <p>${result.name}</p>
        <p>${result.kind}</p>
        <p>${result.months_available}</p>
      </li>`;
      results.insertAdjacentHTML("beforeend", movie);
    });
  });



</script>


sort by months or by season
